@import 'vars'; /*сюда писать переменные для цвета, для шрифта и т.д. и кусочки кода*/
@import 'fonts';
@import 'reset';/*сюда пишу reset.css*/
@import 'global';/*что я пишу для body, для ссылок и т.д*/
@import 'media'; /*медиазапросы*/
@import 'libs'; 


.header{
   background-color: #C8A35F;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  &__language{
    display: flex;
  }
  &__language-btn{
    padding-right: 10px;
    opacity: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  &__language-btn--active{
    opacity: 0.5;
  }
}
.header-nav{
  background-color: $dark;
  &__btn{
    display: none;
  }
  
  &__inner{
    display: flex;
    align-items: center;
    padding: 42px 0;
  }
  &__box{
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  &__logo{
    margin-right: 60px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      width: 1px;
      height: 46px;
      background-color: #fff;
    }
  }
  &__map-link{
    position: relative;
    padding-left: 35px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      background-image: url('../images/icons/placeholder.svg');
      width: 25px;
      height: 25px;
    }
  }
  &__menu-link{
    margin-right: 30px;
    text-transform: uppercase;
    &:nth-child(4){
      margin-right: 0px;
    }
  }
}
.top{
  &__content{
    
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__content-box{
    border: 1px solid #C8A35F;
    padding: 45px 71px;
    max-width: 920px;
    margin-top: 155px;
    
  }
  &__content-title{
    font-size: 64px;
    margin-bottom: 45px;
    text-transform: uppercase;
    @extend %roboto-700;
  }
  &__content-text{
    display: block;
    font-size: 18px;
    margin: 0 35px;
  }
  &__content-icon{
    margin-bottom: 50px;
  }
}
.footer{
  background-color: $gold;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 55px;
  }
  &__box{
    display: flex;
  }
  &__logo{
    margin-right: 30px;
  }
  &__adress{
    opacity: 0.8;
    line-height: 32px;
  }
  &__mail{
    color: $dark;
  }
  &__phone{
    display: inline-flex;
    flex-direction: column;
  }
  &__phone-tel{
    line-height: 32px;
  }
  .footer-map{
    height: 450px;
    margin: 0 auto;
  }
}
.developer{
  color: $dark;
}

.top-slider{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: $grey;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: $grey;
    z-index: -1;
  }
  &__inner{
    padding: 120px 0 128px;
  }
  &__box{
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    max-width: 900px;
    padding-left: 2px;
  }
  &__content{
    max-width:380px;
  }
  &__text{
    margin-bottom: 50px;
    
  }
  &__link{
    background-color: $gold;
    padding: 18px 48px;
    text-transform: uppercase;
    display: inline-flex;
  }
  &__img{
    order: 99;
  }
}

.slick-prev,
.slick-next{
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}
.prev-text{
  margin-left: 30px;
  color: $gold;
  @extend %roboto-500;
}
.next-text{
  margin-right: 30px;
  color: $gold;
  @extend %roboto-500;
}
.slick-prev{
  position: absolute;
  bottom: 330px;
  right: 5px;
  transform: translateY(650%);
  line-height: 35px;
}
.slick-next{
  position: absolute;
  top: 0px;
  right: 5px;
  transform: translateY(370%);
  line-height: 35px;
}

.service{
  padding: 120px 0;
  &__categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
  }
  &__categories-inner{
    max-width: 270px;
    padding: 128px 42px 35px;
    background-color: $grey;
    display: inline-block;
    text-align: center;
    @extend %roboto-700;
    font-size: 18px;
    position: relative;
    &:hover{
      background-color: $gold;
    }
  }
  &__categories-inner::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 103px;
    background-image: url('../images/icons/fly.svg');
    width: 70px;
    height: 70px;
  }
  
}

.about{
  position: relative;
  margin-bottom: 120px;
  padding: 80px 0;
  &::before{
    content: '';
    position: absolute;
    width: 410px;
    height: 482px;
    background-color: $grey;
    z-index: -1;
    top: 0px;
    right: 40%;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__text{
    max-width: 445px;
    line-height: 23px;
    font-size: 16px;
  }
  &__counter{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
  }
  &__counter-item{
    display: block;
    background-color: $default;
    padding: 23px;
    text-align: center;
    font-size: 64px;
    line-height: 75px;
    color: $dark;
    border: 0.25px solid $gold;
    span{
      display: block;
      font-size: 18px;
      line-height: 21px;
    }
    span+span{
      font-size: 12px;
    }
  }
}

@media (max-width: 1450px){
  .service{
    &__categories{
      grid-template-columns: repeat(3, 1fr);
      justify-items: stretch;
    }
    &__categories-inner{
      max-width: 100%;
      padding: 128px 58px 35px;
      &::before{
        top: 20%;
        left: 40%;
      }
    }
  }
  
}

@media (max-width: 920px){
  .top{
    &__content-title{
      font-size: 41px;
      text-align: center;
    }
    &__content-text{
      text-align: center;
    }
  }
}

@media (max-width: 862px){
  
  .next-text,
  .prev-text{
    display: none;
  }
  .slick-next{
    right: 35%;
    top: 70%;
  }
  .slick-prev{
    right: 55%;
    bottom: 38%;
  }
}

@media (max-width: 800px){
  .header-top{
    display: none;
  }
  .header-nav__map-link{
    padding-left: 0;
      text-transform: uppercase;
    &::before{
      display: none;
    }
  }
  .header-nav__box{
    position: absolute;
    right: 107px;
    top: 0px;
    // left: 0;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all .5s;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.405);
    width: 50%;
    margin: 0 auto;
  }
  .header-nav__box--active{
    transform: translateY(0);
  }
  .header-nav{
    &__inner{
      justify-content: space-between;
      padding: 18px 0
    }
    &__btn{
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
      margin-bottom: 10px;
      position: relative;
      z-index: 2;
    }
    &__map{
      margin-bottom: 15px;
    }
    &__menu{
      display: block;
    }
    &__menu-link{
      display: block;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .title{
    font-size: 30px;
  }


  .service{
    &__categories{
      grid-template-columns: repeat(2, 1fr);
      justify-items: stretch;
      
    }
  }

}

